body {
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    background-color: #F60;
    color: #FFF;
    padding-right: 0.25em;
    padding-left: 0.25em;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    font-style: italic;
    font-variant: small-caps;
}

nav {
    display: block;
    margin-top: -20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #F60;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    justify-content: space-around;
}

nav ul li {
    display: block;
    padding: 0.25em;
}

nav ul li:hover {
    background-color: #60C;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 11px;
}